root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = false

[*.{c++,cc,cpp,cxx,h,h++,hh,hpp,hxx,inl,ipp,tlh,tli}]
vc_generate_documentation_comments = doxygen_slash_star
