[submodule "Dependencies/entt"]
	path = Dependencies/entt
	url = https://github.com/skypjack/entt.git
[submodule "Dependencies/VulkanMemoryAllocator"]
	path = Dependencies/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
